# Project exclude paths
/ssm01-maven04-test/common-service/target/
/ssm02-spring01-part/spring01-ioc-xml/target/
/ssm02-spring01-part/spring02-ioc-annotation/target/
/ssm02-spring01-part/spring03-ioc-java/target/
/ssm02-spring01-part/spring04-aop-01/target/
/ssm02-spring01-part/spring04-aop-02/target/
/ssm02-spring01-part/spring04-aop-03/target/
/ssm02-spring01-part/spring05-tx-01/target/

#################################
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
*.log.*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Othres
# data/
dependency-reduced-pom.xml
# 忽略所有 .class 文件
*.class

# 忽略所有 .log 文件
*.log

# 忽略所有 .settings 目录
.settings/

# 忽略所有 .project 文件
.project

# 忽略所有 .idea 目录
.idea/

# 忽略所有 .gitignore 文件
.gitignore

# 忽略所有 target 目录
target/